---
http_interactions:
- request:
    method: get
    uri: https://www.parsehub.com/api/v2/runs/test-run-token?api_key=test-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "complete", "start_time": "2015-06-25T17:19:22", "project_token":
        "test-project-token", "start_template": "main_template", "pages": 1,
        "run_token": "test-run-token", "data_ready": 1, "md5sum": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "end_time": "2015-06-25T17:19:47", "start_url": "http://www.example.com/search?keywords=doctors",
        "start_value": "{}"}'
  recorded_at: Thu, 25 Jun 2015 18:02:14 GMT
recorded_with: VCR 2.9.3
