---
http_interactions:
- request:
    method: get
    uri: https://www.parsehub.com/api/v2/projects/test-project-token/last_ready_run/data?api_key=test-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 25 Jun 2015 17:19:39 GMT
    body:
      encoding: UTF-8
      string: '{"Doctors":[{"name":"Washington Heights Eye Clinic","phone":"1234567890","address":"9 Fake St, New York, NY 10033"},{"name":"Hola","phone":"987654321","address":"20 Fake St, New York, NY 10031"}]}'
  recorded_at: Thu, 25 Jun 2015 18:04:40 GMT
recorded_with: VCR 2.9.3
